{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="profile-container">
        <h1>Mon Profil</h1>
        
        <div class="section">
            <h2>Mes informations</h2>
            <p>Pseudo : <strong>{{ user.pseudo }}</strong></p>
            <p>Email : <strong>{{ user.email }}</strong></p>
        </div>
        
        <div class="section">
            <h2>Mes Pops</h2>
            {% if pops is empty %}
                <p>Vous n'avez pas encore publié de Pop.</p>
            {% else %}
                <ul class="pop-list">
                {% for pop in pops %}
                    <li class="pop-item">{{ pop.content }} - <span class="pop-date">{{ pop.createdAt|date('d/m/Y H:i') }}</span></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="section">
            <h2>Personnes que je suis</h2>
            {% if following is empty %}
                <p>Vous ne suivez personne pour le moment.</p>
            {% else %}
                <ul class="following-list">
                {% for followedUser in following %}
                    <li class="following-item">{{ followedUser.pseudo }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class="section">
            <h2>Mes groupes</h2>
            {% if groups is empty %}
                <p>Vous n'êtes membre d'aucun groupe.</p>
            {% else %}
                <ul class="group-list">
                {% for group in groups %}
                    <li class="group-item">{{ group.name }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}