{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1>{{ user.pseudo }}</h1>
    <img src="{{ asset('uploads/media/' ~ user.profilePicture) }}" alt="Photo de Profil" style="max-width: 150px; height: auto;">

    <p>Voici votre profil. Vous pouvez le modifier en cliquant sur le bouton ci-dessous.</p>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">
        Modifier mon profil
    </button>

    <h2>Mes Pops</h2>
    {% if pops is empty %}
        <p>Aucun Pop à afficher.</p>
    {% else %}
        <ul>
            {% for pop in pops %}
                <li>{{ pop.content }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Modal pour l'édition du profil -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileModalLabel">Modifier votre Profil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(form, {'attr': {'id': 'profileEditForm'}}) }}
                    <div class="form-group">
                        {{ form_widget(form.pseudo, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.profilePicture, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary" form="profileEditForm">Mettre à jour</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}