{% extends 'base.html.twig' %}

{% block title %}Mon Feed{% endblock %}

{% block body %}
    <h1>Mon Feed</h1>

    <div class="pop-form">
        <h2>Créer un nouveau Pop</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Publier</button>
        {{ form_end(form) }}
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% if pops is empty %}
        <p>Vous ne suivez personne ou il n'y a pas de Pops à afficher.</p>
    {% else %}
        <div class="feed">
            {% for pop in pops %}
                <div class="post">
                    <strong>{{ pop.author.pseudo }}</strong> - {{ pop.createdAt|date('d/m/Y H:i') }}<br>
                    {{ pop.content }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}