{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ group.name }}</h1>

    <h2>Pops</h2>

    <ul>
        {% for pop in pops %}
            <li>{{ pop.content }} - Posté par {{ pop.author.email }} le {{ pop.createdAt|date('Y-m-d H:i') }}</li>
        {% else %}
            <li>Aucun Pop dans ce groupe</li>
        {% endfor %}
    </ul>

    <a href="{{ path('new_pop', {id: group.id}) }}" class="btn btn-primary">POP !</a>
{% endblock %}
