<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Clap!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row no-gutters">
                <nav class="col-md-3 d-none d-md-block sidebar">
                    <div class="sidebar-sticky">
                        <div class="logo">
                            <img src="{{ asset('images/logo.png') }}" alt="Logo" class="img-fluid">
                        </div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active p-4" href="{{ path('home') }}">
                                    <img src="{{ asset('images/home.png') }}" alt="Accueil" class="img-fluid" style="width: 20px; height: 20px; margin-right: 5px;"> Accueil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-4" href="{{ path('group_list') }}">
                                    <img src="{{ asset('images/group.png') }}" alt="Groupes" class="img-fluid" style="width: 20px; height: 20px; margin-right: 5px;"> Groupes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-4" href="{{ path('app_profile') }}">
                                    <img src="{{ asset('images/pictoprofil.png') }}" alt="Profil" class="img-fluid" style="width: 20px; height: 20px; margin-right: 5px;"> Profil
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link p-4" href="{{ path('user_search') }}">
                                    <img src="{{ asset('images/pictosearch.png') }}" alt="Recherche" class="img-fluid" style="width: 20px; height: 20px; margin-right: 5px;"> Recherche
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-4" href="{{ path('app_logout') }}">
                                    <img src="{{ asset('images/cdlogo.png') }}" alt="Déconnexion" class="img-fluid" style="width: 20px; height: 20px; margin-right: 5px;"> Déconnexion
                                </a>
                            </li>
                                <li class="nav-item">
                                <a class="nav-link p-4" href="{{ path('app_logout') }}">
                                   <button class="btn btn-danger"> POP ! </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-6 ml-sm-auto col-lg-6 px-4">
                    {% block body %}{% endblock %}
                </main>
                <aside class="col-md-3">
                    <!-- Contenu de la colonne de droite -->
                </aside>
            </div>
        </div>
    </body>
</html>
