<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Clap!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row no-gutters">
                <nav class="col-md-3 d-none d-md-block sidebar">
                    <div class="sidebar-sticky">
                        <div class="logo">
                            <img src="{{ asset('images/logo.png') }}" alt="Logo" class="img-fluid">
                        </div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ path('home') }}">
                                    Accueil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('group_list') }}">
                                    Groupes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_profile') }}">
                                    Profil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">
                                    Déconnexion
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_search') }}">
                                    Recherche
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-6 ml-sm-auto col-lg-6 px-4">
                    {% block body %}{% endblock %}
                </main>
                <aside class="col-md-3">
                    <!-- Contenu de la colonne de droite -->
                </aside>
            </div>
        </div>
    </body>
</html>
